<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Custom suite" parallel="none">
    <test verbose="1" name="WebdriverSample" annotations="JDK">
        <classes>
            <class name="web.driver.sample.WebDriverTest">
                <methods>
                    <include name="testHtmlUnitDriver"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
